@{
    ViewData["Title"] = "User Settings";
}

<h2>User Settings</h2>
<p>Select an option to update your profile settings:</p>

<ul>
    <li>
        <a asp-action="ChangePassword" asp-controller="Home">Change Password</a>
    </li>
    <li>
        <a asp-action="ChangeEmail" asp-controller="Home">Change Email</a>
    </li>
    <li>
        <a asp-action="EditProfile" asp-controller="Home">Edit Profile</a>
    </li>
</ul>